.c-select {
  font-size: 1.2rem;
  appearance: none;
  width: 100%;
  height: 40px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #CDD6DD;
  border-radius: 2px;
  &::-ms-expand {
    display: none;
  }
  &__placeholder {
    display: none;
    color: #CDD6DD;
  }
}